.site-head{
    background-color: inherit;
    /* background-color: #252c31; */
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-head p{
 /* color: #f5f5f5;    */
 color: green;   
 font-size: 30px;
 margin: 0;
  user-select: none;
}

.logo img{
    height: 30px;
}